footer.footer {
    background: #08090A;
    padding: 126px 0 0 0;

    .footer__logo {
        img {
            max-width: 100%;
        }
    }

    nav {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;

            li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 30px;

                a {
                    text-decoration: none;
                    transition: 0.3s;
                    color: #797979;
                    font-weight: 500;

                    &:hover {
                        color: #F75709;
                    }
                }
            }
        }
    }

    .footer__socials {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                margin: 0 7px;

                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: #191919;
                    border: 1px solid #191919;
                    transition: 0.3s;

                    img {
                        max-width: 100%;
                    }

                    &:hover {
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }

    .footer__topsection {
        padding-bottom: 76px;
    }

    .footer__botsection {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 54px;
        background: #000;

        p {
            color: #595959;
            font-size: 15px;
            line-height: 165%;
            margin: 0;
        }
    }

}








@media(max-width:1599.8px) {
    footer.footer {
        padding: 80px 0 0 0;
    }

    footer.footer .footer__topsection {
        padding-bottom: 60px;
    }
  
}

@media(max-width:1399.8px) {
    footer.footer .footer__socials ul li {
        margin: 0 5px;
    }
}