@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family: "Montserrat Alternates", sans-serif;
@font-face {
    font-family: 'Neutral Face';
    src: url('../../fonts/neutralfaceregular.eot');
    src: local('Neutral Face'), local('NeutralFaceRegular'),
        url('../../fonts/neutralfaceregular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/neutralfaceregular.woff2') format('woff2'),
        url('../..fonts//neutralfaceregular.woff') format('woff'),
        url('../../fonts/neutralfaceregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutral Face';
    src: url('../../fonts/neutralfacebold.eot');
    src: local('Neutral Face Bold'), local('NeutralFaceBold'),
        url('../../fonts/neutralfacebold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/neutralfacebold.woff2') format('woff2'),
        url('../../fonts/neutralfacebold.woff') format('woff'),
        url('../../fonts/neutralfacebold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@media(min-width:1500px) {
    .container {
        max-width: 1450px;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    background: #F6F6F6;
    font-size: 16px;
    line-height: 160%;
}

h3 {
    font-size: 43px;
    line-height: 160%;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}





@media(max-width:1599.8px) {
    h3 {
        font-size: 38px;
    }
}

@media(max-width:1399.8px) {
    h3 {
        font-size: 34px;
    }
}